<div>
  <img src="../../assets/bird.png">
</div>
<h4 class="explain">~あなたの感じたことをいつでもつぶやけます~</h4>
<div class="top">
  <h1>あなたのつぶやき</h1>
</div>
<h3>つぶやき数<%= @kblos.length %></h3>

<p><%= notice %></p>

<div class="container-fluid">
  <ul class="row">
    <ul class="col-xs-6 col-md-3">内容</ul>
  </ul>
  <ul class="row">
    <% @kblos.each do |kblo| %>
      <ul class="col-xs-12 col-md-6">
        <ul class="row">
          <ul class="col-xs-6 col-md-3">
            <%= kblo.content %>
          </ul>
          <ul class="col-xs-6 col-md-3">
            <%= link_to '詳細を確認する', kblo_path(kblo.id) %>
          </ul>
          <ul class="col-xs-6 col-md-3">
            <%= link_to "つぶやきを編集する", edit_kblo_path(kblo.id) %>
          </ul>
          <ul class="col-xs-6 col-md-3">
            <%= link_to 'つぶやきを削除する', kblo_path(kblo.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %>
          </ul>
        </ul>
      </ul>
    <% end %>
  </ul>
</div>
