<!DOCTYPE html>
<html>
  <head>
    <title>つぶやき</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="home">
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
        <p><%= link_to "ホーム", kblos_path, class: 'btn btn-default' %></p>
        <div class="tw">
          <%= link_to "つぶやく", new_kblo_path, class: 'btn btn-info' %>
        </div>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>

    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>



    <%= yield %>

    <footer>
      <div class="fwrapper">
        <div class="footer">kblo</div>
      </div>
    </footer>
  </body>
</html>
